body {
  text-align: center;
 }
.letter {
  display: inline-block;
  height: 1em;
  width: 1em;
  padding: 1em;
  font-size: 3em;
  background-color: lightblue;
 }
 .answer {
    font-size: 3em;
    letter-spacing: 2em;
  }


