body {
  text-align: center;
 }
.letter {
  display: inline-block;
  height: .8em;
  width: .8em;
  padding: 1em;
  font-size: 2.1em;
  background-color: lightblue;
 }
.answer {
  font-size: 3em;
  letter-spacing: 2em;

  }
.alreadyGuessed {
    background-color: pink;
   }

.lowerpart {
    dispay.flex;
   }
.imagesw {
    background-color: pink;
    height: 400px;
    width: 90px;
 }
 img {
    height: 250px;

  }

 button {
    background-color: lightblue;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: bold;
  }
